<%= simple_form_for(phone) do |f| %>
  <% if phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :name,input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%#= f.input :brand_id, as: :select, class: "chosen-select", collection: Brand.all, value_method: :id,inclide_blank: false,input_html: {class: "form-control"}  %>
    <%= f.label "Brand" %><br/>
    <%= f.collection_select :brand_id,Brand.all,:id,:name,{},class: "form-control" %>
  </div>
  <div class="form-group">
    <%#= f.input :release_date ,as: :datetime%>
  </div>
  <div class="form-group">
    <%= f.input :image,as: :file,input_html: {class: "form-control"} %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %><br/>
