<!-- Code has been added by Milind -->
<div class="container">
  <div class="row"> 
    <div class="col-md-12">
      <div class="col-md-2"></div>
      <div class="row col-md-8">
        <div class="col-md-12" style="clear:both;font-weight: bold;margin:10px 10px;">
          <h3 ><%= @phone_detail.phone.name.upcase %></h3>
        </div>
        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-4" style="margin: auto;margin-bottom:10px;">
            <%= @phone_detail.phone.image.present? ? (image_tag(@phone_detail.phone.image,class: "img-responsive",style: "height: 212px;")) : image_tag("default.jpg",style: "height: 212px; display: block;") rescue nil%>
          </div>
          <div class="col-md-2" style="float: left;margin-top:30px;margin-bottom:30px;">
            <p style="font-weight:bold;color: #0071bf;font-size: 16px;">
              Display
            </p>
            <p style="font-weight:bold;color: #0071bf;font-size: 16px;">
              Internal
            </p>
            <p style="font-weight:bold;color: #0071bf;font-size: 16px;">
              RAM
            </p>
            <p style="font-weight:bold;color: #0071bf;font-size: 16px;">
              Announced
            </p>
            <p style="font-weight:bold;color: #0071bf;font-size: 16px;">
              Status
            </p>
          </div>
          <div class="col-md-6" style="float: left;margin-top:30px;margin-bottom:30px;">  
            <p style="font-size: 16px;">
              <%= @phone_detail.display_size %>
            </p>
            <p style="font-size: 16px;">
              <%= @phone_detail.rom %>
            </p>
            <p style="font-size: 16px;">
              <%= @phone_detail.ram %>
            </p>
            <p style="font-size: 16px;">
              <%= @phone_detail.announced %>
            </p>
            <p style="font-size: 16px;">
              <%= @phone_detail.status %>
            </p>
          </div>
        </div>
        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <p>NETWORK</p>
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Technology</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.technology %></p>
          </div>
        </div>
        <div class="col-md-12" style="margin-bottom:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
              
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
              
          </div>
          <div id = "show_more_details_link" class="col-md-6" style="font-size: 16px;">
              <a id="show_more_details" onclick="show_more_details()">+ Show More Details</a>
          </div>
          
        </div>

        <div class="extra_details">
          <div class="col-md-12">
            <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
              <!-- <p>NETWORK</p> -->
            </div>
            <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
              <p>2G Bands</p>
            </div>
            <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
              <p><%= @phone_detail["2g_bands"] %></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
              <!-- <p>NETWORK</p> -->
            </div>
            <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
              <p>3G Bands</p>
            </div>
            <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
              <p><%= @phone_detail["3g_bands"] %></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
              <!-- <p>NETWORK</p> -->
            </div>
            <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
              <p>4G Bands</p>
            </div>
            <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
              <p><%= @phone_detail["4g_bands"] %></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
              <!-- <p>NETWORK</p> -->
            </div>
            <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
              <p>Speed</p>
            </div>
            <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
              <p><%= @phone_detail["speed"] %></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
              <!-- <p>NETWORK</p> -->
            </div>
            <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
              <p>GPRS</p>
            </div>
            <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
              <p><%= @phone_detail["gprs"] %></p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
              <!-- <p>NETWORK</p> -->
            </div>
            <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
              <p>EDGE</p>
            </div>
            <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
              <p><%= @phone_detail["edge"] %></p>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <p>LAUNCH</p>
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Announced</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.announced %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Status</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail["status"] %></p>
          </div>
        </div>


        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <p>BODY</p>
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Dimensions</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.dimensions %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Weight</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.weight %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>SIM</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.sim %></p>
          </div>
        </div>

        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <p>DISPLAY</p>
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Type</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.display_type %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Size</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.display_size %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Resolutions</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.display_resolution %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Multi Touch</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.display_multitouch == true ? "Yes" : "No" %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Protection</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.protection %></p>
          </div>
        </div>

        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <p>Plateform</p>
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>OS</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.os %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Chipset</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.chipset %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>CPU</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.cpu_type + " " + @phone_detail.cpu_speed rescue nil%></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>GPU</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.gpu %></p>
          </div>
        </div>
        
        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <p>Memory</p>
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Card Slot</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.card_slot %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Internal</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.rom + " " + @phone_detail.ram %></p>
          </div>
        </div>

        <div class="col-md-12" style="border-top: 1px solid black;padding-top:10px;">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <p>Camera</p>
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Primary</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.primary_camera %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Features</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.camera_features %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Videos</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.video %></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3" style="font-weight:bold;color: #0071bf;font-size: 18px;">
            <!-- <p>NETWORK</p> -->
          </div>
          <div class="col-md-3" style="font-weight:bold;font-size: 16px;">
            <p>Secondary</p>
          </div>
          <div class="col-md-6" style="font-weight: lighter;font-size: 14px;">
            <p><%= @phone_detail.secondary_camera %></p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>




<script type="text/javascript">
  $("document").ready(function(){
    $(".extra_details").slideUp();
    $(".extra_details").data("toggle_val", 0);
  });

  function show_more_details(){
    if($(".extra_details").data("toggle_val") == 0){
      $(".extra_details").data("toggle_val", 1);
      $("#show_more_details").text("- Hide More Details");
      $(".extra_details").slideDown(200);
    }
    else{
      $(".extra_details").data("toggle_val", 0);
      $("#show_more_details").text("+ Show More Details");
      $(".extra_details").slideUp(200);
    }
  }
</script>