<p id="notice"><%= notice %></p>

<h1>Phone Details</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Phone</th>
      <th>Brand</th>
      <th>RAM</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_details.each do |phone_detail| %>
      <tr>
        <td><%= phone_detail.phone.name %></td>
        <td><%= phone_detail.phone.brand.name %></td>
        <td><%= phone_detail.ram || "N/A" %></td>
        <td><%= link_to 'Show', phone_detail %></td>
        <td><%= link_to 'Edit', edit_phone_detail_path(phone_detail) %></td>
        <td><%= link_to 'Destroy', phone_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone Detail', new_phone_detail_path %>
