<p id="notice"><%= notice %></p>
<h1>Top Mobile Brands</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Name</th>
      <td>Logo</td>
      <th colspan="3"> Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.priority  %></td>
        <td><b><%= link_to brand.name,brand %></b><%= brand.phones.length > 0 ? " (" + brand.phones.length.to_s + " Phones" + ")" : " (No phones available)" rescue nil%></td>
        <td><%= brand.logo_file_name.present? ? image_tag(brand.logo.url(:thumb)) : image_tag("default.jpg")  %></td>
        <td><%= link_to 'Show', brands_datum_path(brand) %></td>
        <td><%= link_to 'Edit',edit_brands_datum_path(brand.id) %></td>
        <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Brand', new_brand_path %>