<!-- <footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                 Built in India with passion, hardwork and &#9829; (love) to code using Javascripts.
                <br>
                ©2016
                <a href="http://milindpatel.heroku.com/">milindpatel.herokuapp.com</a> -->
                <!--     I &#9829; (love) to code with javascripts. -->
                    <!-- Copyright &copy; Your Website 2016 -->
                <!-- </div>
            </div>
        </div>
    </div>
</footer> -->
<footer class="text-center">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-6">
					<h3>Location</h3>
					<p>C-305, Royal Residency,Vande Matra Cross Road
						<br>New S.G.Road, Ahmedabad, Gujarat 382481
						<br> Phone: (+91) 8141660871
					</p></div>
					<div class="footer-col col-md-6">
						<h3>Around the Web</h3>
						<ul class="list-inline">
							<li>
								<a href="https://www.facebook.com/milind.patel.73" class="btn-social btn-outline" target="_blank" title="Facebook"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://plus.google.com/100703597122575232528" class="btn-social btn-outline" target="_blank" title="Google+"><i class="fa fa-fw fa-google-plus"></i></a>
							</li>
							<li>
								<a href="https://twitter.com/PATELMILIND" class="btn-social btn-outline" target="_blank" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/in/milind-patel-765b1724?trk=nav_responsive_tab_profile" class="btn-social btn-outline" target="_blank" title="Linkedin"><i class="fa fa-fw fa-linkedin"></i></a>
							</li>
							<li>
								<a href="https://github.com/milind-patel" class="btn-social btn-outline" target="_blank" title="Github"><i class="fa fa-fw fa-github"></i></a>
							</li>
						</ul>
					</div>
        </div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					Built in India with passion, hardwork and <span style="color:#db2323;"> ♥ </span> (love) to code using Javascripts.
					<br>
					©2016
					<a href="http://milindpatel.heroku.com/">milindpatel.herokuapp.com</a>
				</div>
			</div>
		</div>
	</div>
</footer>
