<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				<%= @latest_releases.first.name %>
				<small><%= " (" + @brand.name + " latest release "  + ")"%></small>
			</h1>
		</div>
	</div>
	<div class="row">
		<a href="<%= '/phones/'+ @latest_releases.first.name.gsub(" ","_") rescue nil%>">
			<div class="col-md-8">
				<%= image_tag(@latest_releases.first.avatar) %>
				<%#=  File.exists?(Rails.root.to_s+"/app/assets/images/750*500/#{@brand.name.downcase}.jpg") ? image_tag("/assets/750*500/#{@brand.name.downcase}.jpg",class: "img-responsive portfolio-item",:size => "750x500") : image_tag("/assets/750*500/default2.jpg",class: "img-responsive portfolio-item",:size => "750x500") rescue image_tag("/assets/750*500/default2.jpg",class: "img-responsive portfolio-item",:size => "750x500")%>
			</div>
		</a>
		<div class="col-md-4">
			<h3>Description</h3>
			<p>
				<%= @brand.description.present? ? @brand.description : "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim." %>
			</p>
			<h3>Latest releases</h3>
			<ul>
				<% @latest_releases.each do |l_release| %>
					<li><%= l_release.name %></li>
				<% end %>
      </ul>
    </div>
  </div>
  <div class="row">
		<div class="col-lg-12">
    	<h3 class="page-header"><%= @brand.name + " Other Phones" %></h3>
    </div>
    <% @phones.each do |phone| %>
    	<div class="col-sm-3 col-xs-6">
    		<a href="<%= '/brands/'+ @brand.name.downcase + '/' +  phone.name.gsub(" ","_").downcase %>" style="text-align: center;">
    			<%= image_tag(phone.avatar) %>
    			<%#=  File.exists?(Rails.root.to_s+"/app/assets/images/420*420/#{phone.name.downcase}.jpg") ? image_tag("/assets/420*420/#{phone.name.downcase}.jpg",class: "img-responsive portfolio-item",:size => "420x420") : image_tag("/assets/420*420/default2.jpg",class: "img-responsive portfolio-item",:size => "420x420") rescue image_tag("/assets/420*420/default2.jpg",class: "img-responsive portfolio-item",:size => "420x420")%>
					<h2><strong><span style="display: inline-table;text-align: center;width:100%;"><%= phone.name %></span></strong></h2><br/>
    		</a>
			</div>
    <% end %>
  </div>
	<!-- Code by Milind -->
	<div class="row">
		<% @phones.each do |phone| %>
		<div class="col-sm-6 col-md-3" style="margin-top:30px;">
			<!-- <a href="<%#= '/'+ @brand.name.downcase + '/' +  phone.name.gsub(" ","_").downcase %>"> -->
				<!-- <div class="thumbnail">  -->
					<div class="phone_image">
					<%= phone.image.present? ? (image_tag(phone.image.url,class: "img-responsive",style: "height: 212px;")) : image_tag("default.jpg",style: "height: 212px; width: 100%; display: block;") rescue nil%>
					</div>
					<div class="phone_name_tag">
						<strong><%= phone.name %></strong>
					</div>
				<!-- </div>  -->
			<!-- </a> -->
		</div>
		<% end %>
	</div>
</div>

<!-- End of code -->
